/* Author: Suman Roy
Started and finished by Suman Roy
No copyright, 2022 @Suman373
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');

/* ReSet */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --warning: rgb(202, 202, 34);
    --body-bg: rgba(238, 231, 231, 0.596);
    --gold: goldenrod;
    --p-color: rgb(9, 199, 110);
    --span-color: rgb(103, 21, 128);
    --positive: rgb(46, 226, 46);
    --accent: rgba(61, 75, 199);
    --underlines: linear-gradient(60deg, rgba(61, 75, 199, 0.87), turquoise);

}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto Flex', sans-serif;
    overflow-x: hidden;
}

button,
a {
    cursor: pointer;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1rem;
    height: 2rem;
}

::-webkit-scrollbar-track {
    background: var(--body-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--p-color);
    border: 2px solid var(--accent);
    border-radius: 20px;
}

body {
    height: auto;
    width: 100%;
    background: var(--body-bg);
}

/* scrollTOTOp */
#scroll {
    right: 10px;
    bottom: 10px;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;
    color: white;
    background: linear-gradient(var(--positive),
            var(--accent));
    border: none;
    position: fixed;
    cursor: pointer;
    z-index: 1999;
    animation: jump 2000ms ease infinite;

}

@keyframes jump {
    from {
        transform: translateY(5px);
    }

    to {
        transform: translateY(-6px);
    }
}

/* Navigation */
.navbar {
    height: 3rem;
    display: block;
    z-index: 999;
    position: fixed;
    width: 100%;
    background: var(--accent);
}

.nav {
    display: flex;
    justify-content: flex-end;

}

/* ham btn */
#hamburger {
    display: none;
}

.nav-item {
    text-decoration: none;
    padding: 0.8rem;
    font-size: 1.5rem;
    color: var(--positive);
    text-shadow: 0 0 2px black;
    position: relative;
}

.nav-item:hover {
    color: white;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    height: 3px;
    width: 0;
    background: var(--positive);
}

.nav-item:hover::after {
    transition: all 300ms ease;
    width: 100%;
}

.nav #logo {
    text-decoration: none;
    position: fixed;
    left: 6px;
    color: var(--positive);
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
    margin: 6px;
}

/* The animation of goo part */

.container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    filter: url(#goo);
}

#title {
    font-size: 3rem;
    text-align: center;
    color: var(--accent);
    text-shadow: 0 0 2px black;
    margin-top: 1rem;
    padding: 12rem;
    user-select: none;
}

.particle {
    z-index: -1;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: radial-gradient(rgb(193, 245, 167), var(--positive),
            rgb(85, 209, 13));
    /* background: rgb(35, 105, 102); */
    top: -20%;
    position: absolute;
    animation: drip 4000ms infinite;
}

/* animation drip */
@keyframes drip {
    0% {
        top: -20%;
    }

    30% {
        top: 0%;
    }

    /* 80%{top:90%;} */
    100% {
        top: 100%;
    }
}

.particle:nth-of-type(2n) {
    height: 60px;
    width: 60px;
}

.particle:nth-of-type(3n) {
    height: 120px;
    width: 120px;
}

/* customised delay and position X for the particles */
.particle:nth-child(1) {
    left: 25%;
    animation-delay: 400ms;
}

.particle:nth-child(2) {
    left: 5%;
    animation-delay: 900ms;
}

.particle:nth-child(3) {
    left: 25%;
    animation-delay: 400ms;
}

.particle:nth-child(4) {
    left: 5%;
    animation-delay: 1000ms;
}

.particle:nth-child(5) {
    left: 60%;
    animation-delay: 1200ms;
}

.particle:nth-child(6) {
    left: 2%;
    animation-delay: 800ms;
}

.particle:nth-child(7) {
    right: 25%;
    animation-delay: 2000ms;
}

.particle:nth-child(8) {
    right: 10%;
    animation-delay: 100ms;
}

.particle:nth-child(9) {
    right: 25%;
    animation-delay: 2500ms;
}

.particle:nth-child(10) {
    left: 100%;
    animation-delay: 330ms;
}

.particle:nth-child(11) {
    left: 103%;
    animation-delay: 350ms;
}

.particle:nth-child(12) {
    left: 41%;
    animation-delay: 668ms;
}

.particle:nth-child(13) {
    left: 41%;
    animation-delay: 900ms;
}

.particle:nth-child(14) {
    right: 15%;
    animation-delay: 7000ms;
}

.particle:nth-child(15) {
    right: 10%;
    animation-delay: 4000ms;
}

.border {
    height: 1rem;
    width: 100%;
    position: absolute;
    background: black;
    top: 0;
}

svg {
    height: 4rem;
}

/* Projects part */
.projects {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 90vh;
    width: 100vw;
    text-align: center;
    user-select: none;
}

.projects h2,
.skills h2,
.about h2,
.contact h2 {
    font-size: 3rem;
    padding: 2rem 0;
    text-decoration: underline;
    text-decoration-color: var(--positive);
    text-underline-position: middle;
    color: var(--accent);
}

.myprojects {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* onclick styled classes */
.project-box {
    margin: 2rem 1rem;
    height: 20rem;
    width: 20rem;
    color: var(--accent);
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.project-box img {
    height: 17rem;
    width: 19rem;
}

.project-box:hover {
    transform: scale(1.009);
}

.project-box h3 {
    margin-top: 10px;
    font-size: 1.8rem;
}

/* shows button below project cards */



/* when the project cards are clicked */
.clickedp {
    position: relative;
    width: 25rem;
    height: 25rem;
    z-index: 45;
    color: var(--span-color);
    text-shadow: -1px 0 1px black;
    border-radius: 15px;
    background: linear-gradient(to top, #37ecba 0%,
            #72afd3 100%);
    box-shadow: 0 0 10px black;
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.clickedp p {
    font-size: 1.5rem;
    margin: 4rem auto;
    padding: 1rem;
}

.clickedp .btn-Container {
    display: none;
}
.btn-Container {
    height: 3rem;
    width: 100%;
    border-radius: 10px;
}
.btn:hover{
    background: var(--positive);
    color:black;
}
.btn-Container button {
    margin: 5px 0.5rem;
    height: 2rem;
    width: 8rem;
    color: white;
    background: var(--accent);
    border:none;
    border-radius: 10px;
    font-size: 1.2rem;
}

/* SKills part */
.skills {
    margin: 0 auto;
    padding: 1rem;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    user-select: none;
}

.image-container {
    padding: 0;
}

.reveal {
    position: relative;
    transform: translateY(300px);
    opacity: 0;
    transition: 1000ms all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.skills img {
    height: 7rem;
    width: 7rem;
    margin: 10px;
    padding: 5px;
}

.skills img:hover {
    transform: scale(1.008);
    box-shadow: 0 0 12px var(--accent);
}

.skills h3 {
    margin: 5px auto;
    font-size: 1.6rem;
    color: var(--p-color);
}

/* profile part */
.profile {
    margin-top: 1rem;
    padding: 1rem;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    user-select: none;
    /* background:#5565; */
}

/* About part */
.about {
    text-align: center;
    padding: 0;
}

.about p,
.about li,
.contact p,
footer p {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 5px 2rem;
    color: var(--p-color);
    line-height: 2;
}
.about span{
    color:var(--span-color);
}
#achievements {
    margin: 1rem;
    font-size: 2rem;
    color: var(--span-color);
    text-decoration: underline;
    text-decoration-color: var(--p-color);
}

.achievements-ul {
    text-align: center;
}

.achievements-ul li {
    color: var(--span-color);
}

/* Contact me */
.contact {
    margin: 1rem auto;
    padding: 1rem;
    width: 100vw;
    text-align: center;
    min-height: 100vh;
    position: relative;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 48rem;
}

label {
    font-size: 1.5rem;
    color: var(--span-color)
}

.contact input {
    height: 2.5rem;
    width: 84%;
    margin: 1rem auto;
    color: var(--p-color);
    padding: 4px;
    border: 2px solid var(--span-color);
    border-radius: 20px;
    font-size: 1.3rem;
    outline: none;
}

.form textarea {
    width: 80%;
    outline: none;
    color: var(--p-color);
    padding: 4px;
    font-size: 1.3rem;
    border: 2px solid var(--span-color);
    border-radius: 8px;
    max-height: 10rem;
}

.form button {
    height: 3rem;
    font-size: 1.2rem;
    color: white;
    background: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 10px;
    width: 5rem;
}

.icon-holder {
    height: 5rem;
    width: calc(100% - 1rem);
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    font-size: 2rem;
    padding: 5px;
    margin: 0 10px;
    color: var(--span-color);
    cursor: pointer;
}

.fa-brands:hover,
.form button:hover {
    transform: scale(1.08);
    color: var(--positive);
}

footer {
    width:100vw;
    height: 3rem;
    background: var(--accent);
}

footer p {
    padding: 0;
    text-align: center;
    color: var(--positive);
}

@media screen and (max-width:670px) {
    .nav-item {
        margin-top: 0.5rem;
        font-size: 1.1rem;
        padding: 0.3rem;
    }
    .nav-item::after {
        bottom: 1px;
    }

    #title {
        font-size: 2.3rem;
        padding: 8rem;

    }

    .projects h2,
    .skills h2,
    .about h2,
    .contact h2 {
        font-size: 2.2rem;
    }

    .project-box {
        height: 15rem;
        width: 15rem;
    }

    .project-box img {
        height: 12rem;
        width: 13rem;
    }

    .project-box h3 {
        font-size: 1.5rem;
    }

    .clickedp {
        width: 17rem;
        height: 15rem;
    }

    .clickedp p {
        font-size: 1.2rem;
        margin: 1rem;
    }

    .btn-Container {
        margin-top: 5px;
        /* background: yellow; */
    }

    .btn-Container button {
        margin: 5px 0.3rem;
        font-size: 1rem;
        height: 2.5rem;
        width: 6rem;
    }

    .clickedp {
        bottom: 50%;
    }

    .form {
        width: 32rem;
    }

    .contact p,
    .about p,
    .skills p,
    .achievements-ul li {
        font-size: 1.3rem;
    }

    footer p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:400px) {
    ::-webkit-scrollbar{
        display: none;
    }
    body{
        width:100vw;
        overflow-x: hidden;
    }
    .particle{
        height:2rem;
        width:2rem;
    }
    #title{
        /* changeed the positioning */
        margin-top:8rem;
        padding:3rem;
    }
    .clickedp{
        position: relative;
    }
    /* hamburger menu toggle btn */
    .nav-item{
        display: none;
    }
   
    .nav-active{
        display: flex;
        flex-direction: column;
        height:12rem;
        z-index: 999;
        width: 100%;
        background: var(--accent);
        transition: flex 100ms linear;
        text-align: center;
    }
    .nav-active .nav-item{
        display: block;
        font-size:1.3rem;
    }
    
    .nav-item:hover::after{
        height:1px;
    }
    .nav-active #logo{
        position: fixed;
        top:2px;
        left:5px;
    }
    #hamburger {
        font-size: 2rem;
        margin:5px 10px;
        transform: rotate(90deg);
        font-weight: 200;
        top:2px;
        position: fixed;
        right:5px;
        display: block;
        color:var(--positive);
        text-decoration: none;
    }
    .skills img{
        height:5rem;
        width:5rem;
    }
    .contact p,
    .about p,
    .skills p,
    .achievements-ul li {
        font-size: 1.2rem;
    }

    .form{
        width:100vw;
    }
    .contact input{
        display: inline;
        width:16rem;
    }
    .contact label{
        display: inline-block;
        font-size: 1.2rem;
    }
    .contact textarea{
        width:17rem;
    }
    .contact button{
        height:2rem;
        width:4rem;
        font-size:1.1rem;
    }
    .contact textarea::placeholder {
        font-size:1.1rem;
    }
    footer{
        height: auto;  
    }
    footer p{
        font-size:1.2rem;
    }
}